* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
   
}

.main {
    background-image:url("../images/cool-background.png");
    position: relative;
    padding-left: 35px;
    top: 50px;
    background-color: rgb(222, 222, 222);
    background-size: cover;
    height: 84vh;
     margin-top: -50px;
    
}

.text{
    position: relative;
    top: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(230, 164, 57);
}

.heading{
    position: absolute;
    font-weight: bolder;
    font-size: calc(16px + 1vw);
    line-height: calc(22px + 1vw);
   
}

.info{

position: absolute;
top: 60px;
font-size: calc(19px + 1vw);
line-height: calc(22px + 1vw);

}


.extraInfo h1{
    position: absolute;
    top: 190px;
    font-size: calc(12px + 1vw);
    line-height: calc(22px + 1vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-weight: bold;
}

.extraInfo h3{

    position: absolute;
    top: 250px;
    font-size: calc(8px + 1vw);
    line-height: calc(10px + 1vw);
    font-family: cursive;
    font-weight:800
    
}



@media screen and (max-width: 500px){
    body{
        padding: 0;
    }
    
 
.info{

position: absolute;
top: 100px;
font-size: calc(19px + 1vw);
line-height: calc(29px + 1vw);

}


.extraInfo h1{
    position: absolute;
    top: 240px;
    font-size: calc(12px + 1vw);
    line-height: calc(22px + 1vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-weight: bold;
}

.extraInfo h3{

    position: absolute;
    top: 330px;
    font-family: cursive;
    font-size: large;
    font-weight:800
    
}
.button{
    position: relative;
    top: 100px;
}

.get-started{
    position: absolute;
    background-color: rgb(77, 26, 180);
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    border:2px solid rgb(20, 20, 171);
    box-shadow: 5px 5px 5px rgb(89, 84, 84);
} 
.get-started:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 20, 171);
    border:2px solid rgb(20, 20, 171);
}
 

}


.get-started{
    position: absolute;
    top: 360px;
    background-color: rgb(77, 26, 180);
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    border:2px solid rgb(20, 20, 171);
    box-shadow: 5px 5px 5px rgb(89, 84, 84);
} 
.get-started:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 20, 171);
    border:2px solid rgb(20, 20, 171);
}

