
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
   
}

.main{

}
.main2 {

    position: relative;
    top: 50px;
    background-color: rgb(222, 222, 222);
    background-size: cover;
    height: 79vh;
    margin-top: -50px;
   
    
}

.text2{
    position: relative;
    top: 50px;
    text-align: center;
}
.txt h1{
    text-align: center;
    font-size: xx-large;
    font-family:cursive;
}

.txt h3{
    
    text-align: center;
    position: relative;
    top: 30px;
    padding: 10px 0px 0px 0px;
}
.submit{
    display:inline-block;
    /* position:absolute;
    top: 150px;
    left: 400px; */
   
    
}

.sbmt{
    position: relative;
    top: 85px;
    background-color: burlywood;
    width: 100%;
    padding: 60px 8px 60px 8px;
    border-radius: 5px;

}

@media screen and (max-width: 320px){
    body{
        padding: 0;
    }
    .text2 .submit{
        width: 100%;
        height: auto;
      };
    
    .txt h1 .submit{
        max-width: 200px;
        min-width: 200px;
      };

      .sbmt{
        position: relative;
        top: 100px;
        background-color: burlywood;
        width: 100%;
        padding: 50px 0px 50px 0px;
        border-radius: 5px;
    
    }

    }

 